// Base Styles
html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

// Universal Selector
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// Base Styles
body {
    font-family: $font-family-base;
    line-height: $line-height-base;
    margin: 0; // Ensures there's no margin on the body
    padding: 0; // Ensures there's no padding on the body
    height: 100%;
}

// border class

.Border {
    border: 1px solid $neutral-white-300;
}

// paragraph class
.Body-Regular {
    font-size: 0.875rem;
    font-weight: $font-weight-Regular;
    line-height: 175%;
}

.Body-Medium {
    font-size: 0.875rem;
    font-weight: $font-weight-Medium;
    line-height: 175%;
}

.Label-Regular {
    font-size: 0.75rem;
    font-weight: $font-weight-Regular;
    line-height: auto;
}

.Label-Medium {
    font-size: 0.75rem;
    font-weight: $font-weight-Medium;
    line-height: auto;
}

// input 
.Input {
    position: relative;
    padding: rem(9) 2rem;
    border: 1px solid $neutral-white-400;
    font-weight: $font-weight-Regular;
    line-height: 175%;
    //transition: all ease 1s;
    //-webkit-transition: all ease 1s;
    //-moz-transition: all ease 1s;
    //-ms-transition: all ease 1s;
    //-o-transition: all ease 1s;
    @include prefix(border-radius, rem(6) , webkit moz ms o);
    @include prefix(transition, all ease 0.4s , webkit moz ms o);
}

.Input:focus {
    outline: none;
}


.Input::placeholder {
    font-size: $font-size-base;
    font-weight: $font-weight-Regular;
    line-height: $line-height-base;
    color: $neutral-black-400;
}