@import '../helpers/variables';
@import '../components/button';
@import '../components/cards';
@import '../components/alert';
@import '../components/input';
@import '../base/base';

.forget-password-container{
    position: relative;
    .row {
        .content {

            @include small() {
                max-width: rem(464);
            }

            .logo {
                margin-bottom: rem(64);

                @include small() {
                    margin-bottom: rem(20);
                }

                >figure {
                    width: rem(32);
                    height: rem(32);

                    >img {
                        // Styles for image if needed
                    }
                }

                h1 {
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }

            .sub-content {
                @include small() {
                    padding: rem(64) rem(30);
                    @include light-card-styles;
                }

                >p {
                    max-width: rem(270);
                    margin: 0 auto;
                    margin-bottom: rem(40);
                    color: $neutral-black-500;
                }

                >.forget-password {
                    >form {
                        >input {
                            margin-bottom: rem(32);
                        }

                        >button {}
                    }
                }
            }
        }
    }

    >p.back__to__login {
        color: $neutral-black-500;
        position: absolute;
        top: 30px;
        left: 30px;

        >svg {
            width: rem(20);            
            height: rem(20);            
        }
    }
}