@import '../../helpers/variables';
@import '../../components/button';
@import '../../components/cards';
@import '../../components/alert';
@import '../../components/input';
@import '../../base/base';

.login-container {
    // position: relative;

    .row {
        .content {

            @include small() {
                max-width: rem(464);
            }

            .logo {
                margin-bottom: rem(64);

                @include small() {
                    margin-bottom: rem(20);
                }

                >figure {
                    width: rem(32);
                    height: rem(32);

                    >img {
                        // Styles for image if needed
                    }
                }

                h1 {
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }

            .sub-content {
                @include small() {
                    padding: 2rem rem(32);
                    @include light-card-styles;
                }

                .log-google,
                .log-email {
                    width: 100%;

                    >a {
                        color: $neutral-black-500;
                        padding: rem(12) rem(24);
                        @include prefix(transition, all ease .4s, webkit moz ms o);

                        &:hover {
                            background-color: $neutral-white-200;
                            border: 1px solid $neutral-white-100;
                        }

                        >svg {
                            // Styles for svg if needed
                        }
                    }
                }

                .log-email {
                    margin-bottom: rem(39);
                }

                >.hr-or {
                    margin-bottom: rem(55);
                    padding: 0 rem(24);
                    height: rem(1);
                    background-color: $neutral-white-300;
                    position: relative;

                    &::before {
                        content: 'OR';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: white;
                        padding: 0 0.5rem;
                        color: $neutral-black-500;
                    }
                }

                .log-form {
                    >form {
                        >p {
                            cursor: pointer;
                        }

                        >button {
                            margin-bottom: rem(32);
                        }
                    }
                }

                .sign-up {
                    color: $neutral-black-600;

                    >a {
                        cursor: pointer;
                        color: $neutral-black-900;
                    }
                }
            }
        }
    }

}
