@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-family-base: "Inter";

$line-height-base: 175%;

$font-size-base: 0.875rem;

$font-weight-Regular: 400;

$font-weight-Medium: 500;

