@use './colors' as *;

// — Heading
// H1
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: $neutral-black-900;
}
// H2
h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $neutral-black-900;
}
// H3
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $neutral-black-900;
}
// H4
h4 {
    font-size: 1.125rem;
    font-weight: 600;
    color: $neutral-black-900;
}
// H5
h5 {
    font-size: 1rem;
    font-weight: 500;
    color: $neutral-black-900;
}
// H6
h6 {
    font-size: 0.875rem;
    font-weight: 500;
    color: $neutral-black-900;
}
// H6
.h6 {
    font-size: 0.875rem;
    font-weight: 500;
    color: $neutral-black-900;
}

