@import '../helpers/variables';
@import '../components/button';
@import '../components/cards';
@import '../components/alert';
@import '../components/input';
@import '../base/base';

.reset-password-container {
    position: relative;

    .row {
        .content {

            @include small() {
                max-width: rem(464);
            }

            .logo {
                margin-bottom: rem(64);

                @include small() {
                    margin-bottom: rem(20);
                }

                >figure {
                    width: rem(32);
                    height: rem(32);

                    >img {
                        // Styles for image if needed
                    }
                }

                h1 {
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }

            .sub-content {
                @include small() {
                    padding: rem(64) rem(30);
                    @include light-card-styles;
                }
                >h5 {
                    margin-bottom: rem(56);
                }
                >.reset-password {
                    >form {
                        >input {}

                        >button {
                            margin-top: rem(32);
                        }
                    }
                }
            }
        }
    }
}